.image_blog {
    float: left;
    width: 50%;
    margin-right: 10px;
    border: 5px solid white;
}

.image_blog2 {
    float: right;
    width: 50%;
    margin-left: 10px;
    border: 5px solid white;
}

#blog {
    text-align: justify;
}
summary{
    float: right;
    font-size: 16px;

}
summary:hover{
background-color: #17a2b8;
}
