#products{
    margin-top:10px;
}
/* .card{
    margin: 5px;
} */
.row{
    margin:0;

}
#forHike{
    /* visibility: hidden; */
    text-align: justify;
}
/* #forHike:hover{
    visibility: visible;
} */
#obtic2{
    margin-left: 10px;
    float: right;
    width: 50%;
}
#obtic1{
    margin-right: 25px;
    float: left;
    width: 50%;
}
#obtic3{
    margin-right: 10px;
    float: left;
    width: 50%;
}
#map{
     width:100%;
     height: 400px;
}
