@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap'); :root {
    scroll-behavior: smooth;
    font-family: 'Chilanka', cursive;
}

body {
    max-width: 980px;
    margin: auto;
    background-image: url(../images/fontbody2.jpg);
    font-family: 'Chilanka', cursive;
}

main article p {
    color: white;
    text-align: justify;
    font-size: 18px;
    /* width:100%; */
}

main article p strong {
    color: black;
}

footer {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column-reverse;
}


dialog {
    /* margin-left: 400px; */
    /* /* margin-top20 -80 */
    border: 2px solid #2D9E9E;
    background-color: #486464;
    border-radius: 5px;
    font-size: 10px;
    margin-top:-50px;
    margin-left:-50px;
}
button {
    border: 2px solid black;
    background-color: #486464;
    border-radius: 5px;
    color: #2D9E9E;
    font-size: 18px;
}

button:hover {
    background-color: rgb(14, 48, 44);
}

#simple-vertical {
    width: 100%;
    color: #FFF;
}

figure {
    display: flex;
    justify-content: center;
}

#search {
    border: 5px solid #1A9B8D;
    background-color: #486464;
    color: white;
    /* height: 150px; */
    margin-left: 250px;
}

#placeSearch {
    width: 100px;
}

/* бургер меню попробувати, вертикальний слайдер,
футер трохи поміняти, адаптувати, кнопка пошуку, картинки 1-го слайдера поміняти */
/* bootstrap */
.bg-light {
    background-color: #2e9475!important;
}

.logo {
    display: flex;
    flex-direction: row;
    font-family: 'Chilanka', cursive;
    margin-top: 5px;
}

#mount {
    margin-right: 5px;
}

.btn-outline-success {
    color: black;
}

main {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.list-unstyled {
    margin-left: 20px;
}

.media {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.mb-1 {
    text-align: center;
}

aside a img {
    width: 100%;
    height: 100%;
}

aside a {
    color: black;
}

aside a:hover {
    text-decoration: none;
    color: white;
}
.nav-item {
    border: 1px solid transparent;
}

.nav-item:hover {
    background-color: rgba(17, 131, 32);
    border: 1px solid white;
    padding: 0px;
}
#close{
    font-size: 11px;
    height:20px;
    margin-left:150px;
}
