@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap'); :root {
    scroll-behavior: smooth;
    font-family: 'Chilanka', cursive;
}

body {
    max-width: 980px;
    margin: auto;
    background-image: url(../images/fontbody2.jpg);
}

header nav .menu {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    flex-wrap: wrap;
}

header nav .menu li a {
    text-decoration: none;
    border: 1px solid transparent;
    padding: 5px 10px;
    color: #898989;
    border: 1px solid black;
    background-color: #424242;
    /* height: 50px; */
    /* font-size: 16px; */
}

header nav .menu li a:hover {
    background-color: black;
    border: 1px solid white;
}

header nav div {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5px;
}

header nav div h1 {
    margin: 0 auto;
}

header nav div h2 {
    color: white;
    background-color: grey;
    border-radius: 8px;
    padding: 5px;
    margin: 0;
    font-size: 18px;
}

header nav div h1+h2 {
    margin-left: 100px;
}

.logo {
    /* margin: 100px; */
}

/* create .slider */
@media (min-width: 550px) {
    header nav div {
        margin: 0;
        display: flex;
        flex-direction: column;
        height: 100px;
    }

    header nav .menu li a {
        display: flex;
        /* flex: 1; */
        justify-content: flex-start;
        font-size: 24px;
        padding: 10px 20px;
        /* flex-wrap: wrap; */
        /* margin: 0; */
    }
}

/* @media (min-width: 700px) {
aside{ */
/* display: flex; */
/* flex-direction: column; */
/* justify-content: center; */
/* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} } */
main aside {
    display: flex;
    flex-direction: row;
}

aside a img {
    width: 150px;
}

aside a {
    text-decoration: none;
    color: white;
    /* width: 200px; */
}

main article p {
    color: white;
    text-align: justify;
    font-size: 18px;
}

main article p strong {
    color: black;
}

/* main{
    display: flex;
    flex-direction: column;
} */
@media (min-width: 700px) {
    main {
        display: flex;
        flex-direction: row;
        /* align-items: center; */
    }
    main aside {
        flex-direction: column;
        margin-left: 50px;
    }
    main aside img {
        width: 300px;
    }
    /* .carousel-item{
    height:350px;
} */
}

footer {
    display: flex;
    margin-top: 50px;
    flex-direction: column-reverse;
}

dialog {
    margin-left: 400px;
    margin-top: -80px;
    border: 2px solid #2D9E9E;
    background-color: #486464;
    border-radius: 5px;
}

form {
    margin: 0;
    /* color:#2D9E9E; */
}

button {
    border: 2px solid black;
    background-color: #486464;
    border-radius: 5px;
    color: #2D9E9E;
    font-size: 18px;
}

button:hover {
    background-color: rgb(14, 48, 44);
}

#clock {
    width: 140px;
    height: 60px;
    font-size: 30px;
    margin-top: -100px;
    margin-left: 85%;
    border: 5px solid #1A9B8D;
    background-color: #486464;
    color: white;
    border-radius: 5px;
}
#simple-vertical {
  width: 100%;
  color: #FFF;
}
figure {
    display: flex;
    justify-content: center;
}
#search{
    border: 5px solid #1A9B8D;
    background-color: #486464;
    color: white;
    /* height: 150px; */
   margin-left: 250px;
}
#placeSearch{
    width: 100px;
}
/* бургер меню попробувати, вертикальний слайдер,
футер трохи поміняти, адаптувати, кнопка пошуку, картинки 1-го слайдера поміняти */
/* bootstrap */
